extends layout

block content
  script(src="//api.filepicker.io/v1/filepicker.js")
  .container
    .row
      h3 Add a Photo
    .row
      .col-xs-3
        img.img-thumbnail#picked(src="")
    .row
      .col-xs-3
        button.btn#pickImage Choose Image
    br
    br
    .row
      .col-xs-3
        P What school?
        select.form-control#school
          for school in schools
            option #{school.name}
    br
    .row
      .col-xs-3
        P What building?
        select.form-control
          for school in schools
            for building in school._buildings
              //- p #{building.name}
              option #{building.name}

    .row
      .col-xs-3
        button.btn.btn-success#save Save School

  script.
    filepicker.setKey('AG4iSyAFR1ix7zdHsvAtKz');
    $('#pickImage').click(function (){
      filepicker.pickAndStore({mimetype: 'image/*'}, {}, function (InkBlobs){
        newSchool.picture = InkBlobs[0].url;
        $('#picked').removeAttr("src").attr('src', InkBlobs[0].url);
      });
    });

    $