extends layout

block content
  .container
    h3 Hello #{user.name}
    br
    br
    br
    //- p Text (journal), an academic journal of language, discourse, and communication studies Text (literary theory), any object that can be "read", including literature and other objects Textbook, a manual of instruction in any branch of study Religious text, writings which various religious traditions consider to be sacred Written text, communication that represents language through the inscription of signs and symbols

  script.
