extends layout

block content
  script(src="//api.filepicker.io/v1/filepicker.js")
  .container
    .row
      h3 Add a New School
    .row
      p School Name:
        input#name(type='text',)
    .row