body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.comment{
  background-color: #faf8f0;
  border-left: 3px solid #faebcc;
  /*border-top: 3px solid #faebcc;*/
  padding: 20px;
  /*padding-left: 0px;*/
  margin-top: 10px;
  margin-bottom: 20px;

}